/***************************************
*             AXIS FORMAT              *
 ***************************************/

.ChartArea2D .axis .domain{
    fill: none;
    stroke: #111;
    stroke-width: 1;
}

.ChartArea2D .axis .tick line{
    stroke: #222;
    stroke-width: 1;
}

.ChartArea2D .axisTitleText{
    font-size: 15px;
    fill: #111;
}

.ChartArea2D .axisUnitText{
    font-size: 10px;
    fill: #333;
}


/***************************************
 *            CHART LINE               *
 ***************************************/

.serieLine{
    stroke: #777;
    stroke-width: 0.5;
}

.serieLine.hovered{
    stroke: #111;
    stroke-width: 0.5; 
}

.serieArea{
    opacity: 0.4;
}
.serieArea.hovered{
    opacity: 0.8;
}

/***************************************
 *           SCATTER PLOT              *
 ***************************************/

.chartDot{
    opacity: 0.8;
}

.chartDot.hovered{
    opacity: 1;
}


/***************************************
*             CURSOR FORMAT              *
 ***************************************/

.SimpleLineChart .vCursor{
    stroke: #222;
    stroke-width: 0.2;
}


.SimpleLineChart .circleCursor{
    stroke: #222;
    stroke-width: 2;
    fill: white;
}


/***************************************
*             BACKGROUND               *
 ***************************************/

.areaBackground{
    fill: none;
}


.areaBackground .backgroundLabel{
    fill: #eee;
    font-size: 200px;
    font-weight: bold;
}


.ChartArea2D .chartData{
    pointer-events: visibleFill;
}


/***************************************
*          CONTEXT CHART               *
 ***************************************/

.ContextLineChart .yaxis .tick{
    visibility: hidden;
}

.ContextLineChart .xaxis text{
    font-size: 10px;
}

.ContextLineChart .chartLine{
    stroke: #333;
    stroke-width: 1;
}

.ContextLineChart .cursor{
    stroke: #333;
    stroke-width: 2;
}
