/********************************
 *          ALL GRAPHS          *
 ********************************/

.legend{
    position: absolute;
    right: 20px;
    top: 0px;
    z-index: 2;
}


/********************************
 *      II. GLOBAL MEAN         *
 ********************************/
#SVG_globalMean .meanSerie{
    stroke-width: 2;
    stroke: black;
}
 

 /********************************
 *      VI. PIB                  *
 ********************************/
/* Context Graph */
#SVG_PIB_Context{
    display: block;
    height: 8%;
}

/* Main Graph */
#SVG_PIB{
    display: block;
    height: 90%
}

/* Play Button */
#PIB_play{
    position: absolute;
    width: 20px;
    height: 20px;
    padding: 5px;
    float: left;
    left: 5px;
    top: 5px;
}


/********************************
 *      VII. GLOBAL             *
 ********************************/
#SEARCHBAR_global{
    position: absolute;
    right: 50px;
    top: 10px;
}
