/***** General style *****/
body {
  font-family: Arial, sans-serif;
  text-align: center;
}


.titleBox {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 70px;
  background-color: #333;
}

.titleBox h1{
    color: #fff;
}

.panel {
  position: absolute;
  top: 105px;
  right: 0;
  bottom: 0;
  left: 25px;
  background-color: #fff;
  padding: 10px;
}

.panel svg{
    width: 100%;
    height: 100%;
}


/***** Search bar *****/
#search-bar {
  position: absolute;
  top: 10px;
  left: 60px;
  display: flex;
  width: 400px;
  max-width: 100%;
}

#search-bar > input {
  line-height: 35px;
  padding: 0 10px;
  border: 1px solid #999;
  flex: 1;
  font-size: 11pt;
}

#search-bar > input:focus {
  outline: 0;
  -webkit-box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

#search-bar > button {
  background-color: #4c7d95;
  border: 1px solid #999;
  border-left: 0;
  outline: 0;
  flex-basis: 40px;
  cursor: pointer;
}

#search-bar > button:hover {
  background-color: #2b4d5b;
}

#search-bar > button img {
  height: 18px;
}
